body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  margin: 0;
}

.contenedor {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.contenedor .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  opacity: 10;
}

.contenedor h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  opacity: 1;
}

.contenedor label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  text-align: left;
  opacity: 1;
}

.contenedor input {
  width: 100%;
  margin-bottom: 30px;
  opacity: 1;
}

.contenedor input[type="text"],
.contenedor input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  opacity: 1;
}

.contenedor input[type="submit"] {
  border: none;
  outline: none;
  height: 35px;
  background: #F50B02;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  opacity: 1;
}

.contenedor input[type="submit"]:hover {
  cursor: pointer;
  background: #fc9610;
  color: #000;
  opacity: 1;
}

.contenedor a {
  margin-top: 50px;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  opacity: 1;
}

.contenedor a:hover {
  color: #fff;
  opacity: 1;
}